@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// Colors
$blue-main: #2c2b5b;
$blue-light: #5B5B84;
$blue-grey : #e9e4f0;
$light-grey: #ededed;
$medium-grey: #BABABA;
$accent-main: #F07E67;
$accent-dark: #6b1e14;
$accent-light: #e3c7af;
$error-main: #e60000;
$error-dark: #730000;


* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  background-color: #ffffff;
  font-size: 1.1rem;
}

header {
  //position: fixed;
  //top: 0;
  background-color: $blue-main;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  .logo_main {
    width: 200px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .user-container {
    display: flex;
    color: #ffffff;
  }

  @media (max-width: 480px) {
    .header_expanded {
      display: none;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background-color: $blue-main;
  display: flex;
  justify-content: space-around;
  
  a {
    width: 100%;
    text-decoration: none;
  }

  .active {
    background-color: $blue-light;
    font-weight: 700;
  }

  .footer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 4px;
    color: #ffffff;
    height: 100%;
    font-size: 0.9rem;
    //font-weight: 700;
    border-radius: 8px;
    width: 100%;

    .footer-icon {
      height: 40%;
      width: 40px;
      display: flex;
      justify-content: center;

      img {
        height: 100%;
      }
    }
  }
}

.positive-notification {
  background-color: rgba($blue-main, 0.9);
  border-radius: 4px;
  color: #ffffff;
  padding: 8px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.avatar_thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.avatar_thumbnail_small {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.avatar_big {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.media-thumbnail {
  height: 100px;
  width: 100px;
  border: 1px solid #f5f5f5;

  img {
    max-height: 100px;
    max-width: 100px;
  }
}

main {
  //padding: 0 16px;
  min-height: 100%;
  margin: 0;
  background: url('./assets/v748-toon-106.jpg');
  background-size: cover;
}

.content {
  padding: 0 16px 12vh 16px;
  min-height: 84vh;

  .content-end {
    margin-top: 88px;
  }

  &.empty {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.newConvButton {
  border-radius: 50%;
  border: none;
  background-color: #F07E67;
  box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
  color: #ffffff;
  padding: 24px;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  z-index: 3;
  right: 10px;
  bottom: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

// HOMEPAGE
.homepage {
  display: flex;
  padding: 24px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    :last-child {
      font-weight: 700;
      font-size: 2.5rem;
    }
  }

  img {
    width: clamp(100px, 100%, 280px);
  }

  .guest-button {
    background-color: $accent-main;
    border: 2px solid $accent-dark;
    box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
    color: #ffffff;
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 4px;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: $accent-dark;
    }
  }
}

// LOGIN AND SIGNUP PAGES
.login-page,
.signup-page {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      padding: 8px;
      background-color: $accent-main;
      color: #ffffff;
      border: 2px solid $accent-dark;
      box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
      border-radius: 4px;
      font-size: 1.1rem;

      &:hover,
      &:active {
        cursor: pointer;
        background-color: $accent-dark;
      }
  
      label {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 100%;

        img {
          max-height: 24px;
          max-width: 100%;
        }
      }
    }

    .upload-avatar {
      background-color: $light-grey;
      border: 1px solid #000000;
      box-shadow: none;
      color: #000000;
    }

    .input-group {
      display: flex;
      flex-direction: column;
    
      input {
        width: 100%;
        padding: 4px;
        font-size: 1.1rem;
      }
    }

    button {
      margin-top: 16px;
    }
  }

  .error-container {
    color: $error-main;

    ul {
      margin-left: 16px;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}

// CONVERSATIONS
.conversation-page {
  //background: url('./assets/v748-toon-106.jpg');
  //background-size: contain;
}

.conversation-header,
.group-header {
  position: sticky;
  top: 0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.3rem;
  background-color: $light-grey;
  text-decoration: none;
  color: #000000;
  font-weight: 700;

  .group-header_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.message-input {
  position: sticky;
  width: 100%;
  bottom: 10vh;
  z-index: 4;

  .error-container {
    position: absolute;
    top: -24px;
    right: 16px;
    background-color: $error-main;
    border-radius: 8px;
    padding: 4px 8px;
    color: #ffffff;
  }

  #input_form {
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;
    justify-content: space-between;

    input[type='text'], textarea {
      padding: 8px;
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #ffffff;
      font-size: 1.1rem;
      resize: none;
      max-height: 20vh;
    }

    input[type='file'] {
      display: none;
    }

    .file-upload_button {
      background-color: #ffffff;
      height: 40px;
      min-width: 40px;
      border-radius: 8px;
      padding: 8px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    button {
      min-height: 48px;
      min-width: 48px;
      border-radius: 50%;
      border: none;
      background-color: $medium-grey;
      //box-shadow: 2px 2px 2px rgba($medium-grey, 0.3);
      position: relative;
      transition: all 0.5s;

      &.active {
        background-color: $accent-main;
        box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);

        &:active {
          transform: scale(1.15);
          background-color: $accent-dark;
        }
      }

      img {
        position: absolute;
        top: 12px;
        left: 14px;
        width: 24px;
        height: 24px;
      }


    }
  }
}


// Conversations & Groups lists
.conversation-list,
.groups-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.conversation-overview_link,
.group-overview_link {
  text-decoration: none;
  color: #222222;
}

.conversation-overview,
.group-overview {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

.conversation-overview_content,
.group-overview_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;

  .last-message {
    font-size: 1rem;
    color: #707070;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.conversation-overview_metadata,
.group-overview_metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  @media (max-width: 480px) {
    width: 77vw;
  }
  

  .conversation_name,
  .group_name {
    font-size: 1.2rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    white-space: nowrap;
  }

  .last-update {
    font-size: 0.9rem;
    color: #707070;
  }
}

// Messages
.messages-list {
  display: flex;
  flex-direction: column;
}

.message-single {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.1rem;
  
  .message_text {
    word-break: break-word;
  }


  .message-single_author {
    font-weight: 700;
    color: #222222;
  }

  .message_timestamp {
    align-self: end;
    font-size: 0.8rem;
    color: #707070;
  }

  .message_file {
    width: 100%;

    img {
      max-width:  200px;
      height: auto;
      border-radius: 4px;
    }
  }
}

.group-message_other {
  display: flex;
  align-items: center;
  gap: 4px;

  .message-single {
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1rem;
    //background-color: #f5f5f5;
    background-color: #e5e5e5;
    box-shadow: -1px 1px 4px #0000004e;
    max-width: 80%;
  }
}

.group-message_own {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem;

  .message-single {
    padding: 0;
  }
}

.message_own,
.group-message_own {
  //background-color: #ededed;
  background-color: #fcead9;
  box-shadow: 1px 1px 4px rgba($accent-dark, 0.3);
  align-self: end;
  align-items: end;
  max-width: 90%;
}

.message_other {
  //background-color: #f5f5f5;
  background-color: #e5e5e5;
  box-shadow: -1px 1px 4px #0000004e;
  align-self: start;
  max-width: 90%;
}

// User profile & Group info
.user-profile,
.group-info {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .user_name,
  .group-name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    word-break: break-word;
  }

  .user_status {
    font-style: italic;
  }

  .admin {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #222222;
  }

  .edit-group_button {
    background-color: $accent-main;
    border: 2px solid $accent-dark;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
    color: #ffffff;
    font-size: 1.1rem;
    padding: 8px 12px;
  }
}

.group-info_section {
  font-weight: 700;
}

.group_users-list {
  align-self: start;
  display: flex;
  flex-direction: column;
}

.group_user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  text-decoration: none;
  color: #222222;
}

.group_media-section {
  align-self: start;
  margin-top: 8px;
}

.group_media-list {
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 90vw;

  div {
    display: inline;
    margin: 0 2px
  }
}

// Contacts Page
.contacts-page {
  padding-top: 16px;

  .add-contact_link {
    align-self: center;
    
    button {
      padding: 8px;
      border-radius: 4px;
      border: none;
      margin-bottom: 8px;
    }
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 1.2rem;

    a {
      text-decoration: none;
    }

    button {
      font-size: 1.3rem;
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        max-height: 25px;
        max-width: 100%;
      }
    }

    .contacts-length {
      align-self: center;
      color: #777777;
    }
  
    .contact-single {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: #222222;
      overflow-x: clip;

      .contact-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.conversation-button,
.add-contact_button {
  text-decoration: none;

  button {
    background-color: $accent-main;
    border: 2px solid $accent-dark;
    box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
    color: #ffffff;
    padding: 12px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;

  }
  
  img {
    height: 24px;
  }
}

.add-contact_page {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .input-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  input[type="text"] {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #777777;
    font-size: 1.1rem;
  }

  button {
    padding: 8px;
    font-size: 1.2rem;
    background-color: $accent-main;
    border: 2px solid $accent-dark;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
    color: #ffffff;
  }

  .error-container {
    text-align: center;
    color: $error-main;
    font-weight: 700;
  }
}

// Group create page
.group-create-page {
  padding-top: 16px;

  #group-create_form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .users-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      label {
        flex-shrink: 0;
      }

      select {
        font-size: 1.1rem;
        padding: 4px;
        width: 100%;
      }

      input[type="button"] {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 5vh;
        flex-shrink: 0;
      } 
    }
  }

  .group-info_form {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 4px;
      font-size: 1.1rem;
      border-radius: 4px;
    }
  }

  .image-upload_button {
    background-color: #efefef;
    height: 46px;
    min-width: 46px;
    border-radius: 50%;
    padding: 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .users-list {
    margin: 16px 0;
    display: flex;
    flex-direction: column;

    .user-info {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;

      &:first-child {
        background-color: #efefef;
        border-radius: 4px;
      }
      
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 5vh;
      }
    }
  }

  .submit-button_container {
    display: flex;
    justify-content: center;

    button {
      background-color: $accent-main;
      border: 2px solid $accent-dark;
      border-radius: 4px;
      box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
      color: #ffffff;
      font-size: 1.1rem;
      padding: 8px 12px;
    }
  }
}

// Settings page
.settings-page {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .user_name {
      font-size: 1.5rem;
      font-weight: 700;
    }
    
    .user_status {
      font-size: 1.1rem;
      font-style: italic;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 24px;

    a {
      text-decoration: none;
      color: #000000;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      padding: 12px;
      border-radius: 4px;
      font-size: 1.2rem;
      border: 2px solid $blue-main;
      box-shadow: 2px 2px 2px rgba($blue-main, 0.3);
      //height: 40px;

      img {
        max-height: 24px;
        max-width: 100%;
      }
    }

    .logout-button {
      background-color: $accent-main;
      border: 2px solid $accent-dark;
      box-shadow: 2px 2px 2px rgba($accent-dark, 0.3);
      color: #ffffff;
      //border: none;
      font-weight: 700;
    }
  }
}

// EDIT INFO PAGE
.change-avatar-page {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .error-container {
    color:$error-main;
    margin-bottom: 16px;
    font-weight: 700;
  }

  form {
    display: flex;
    gap: 16px;
  }

  button {
    padding: 8px;
    border-radius: 4px;
    font-size: 1.2rem;
    //height: 40px;

    label {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 100%;

      img {
        max-height: 24px;
        max-width: 100%;
      }
    }
  }

  .delete-avatar_button {
    margin-top: auto;
    background-color: $error-main;
    border: 2px solid $error-dark;
    box-shadow: 2px 2px 2px rgba($error-dark, 0.3);
    color: #ffffff;
  }
}

.change-status-page {
  font-size: 1.1rem;
  padding-top: 24px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  
    input[type="text"] {
      padding: 4px;
      width: 100%;
      font-size: 1.1rem;
    }
  }

  button {
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    font-size: 1.2rem;
  }
}