@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0; }

html {
  min-height: 100%; }

body {
  height: 100vh;
  background-color: #fcfcfc; }

header {
  background-color: #222222;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px; }
  header .logo_main {
    width: 200px;
    display: flex;
    align-items: center; }
    header .logo_main img {
      width: 100%; }
  header .user-container {
    display: flex;
    color: #efefef; }
  @media (max-width: 480px) {
    header .header_expanded {
      display: none; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background-color: #222222;
  display: flex;
  justify-content: space-around; }
  footer a {
    width: 100%; }
  footer .active {
    background-color: #444444;
    font-weight: 700; }
  footer .footer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 4px;
    color: #efefef;
    height: 100%;
    font-size: 0.9rem;
    border-radius: 8px;
    width: 100%; }
    footer .footer-button .footer-icon {
      height: 40%; }
      footer .footer-button .footer-icon img {
        height: 100%; }

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700; }

.avatar_thumbnail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center; }

.avatar_thumbnail_small {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center; }

.avatar_big {
  height: 150px;
  width: 150px;
  border-radius: 50%; }

.media-thumbnail {
  height: 100px;
  width: 100px;
  border: 1px solid #f5f5f5; }
  .media-thumbnail img {
    max-height: 100px;
    max-width: 100px; }

main {
  min-height: 100%;
  margin: 0; }

.content {
  padding: 0 16px 64px 16px;
  min-height: 80vh; }
  .content .content-end {
    margin-top: 88px; }

.newConvButton {
  border-radius: 50%;
  border: 1px solid #444444;
  padding: 24px;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  z-index: 3;
  right: 8px;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700; }

.conversation-page {
  background: url("./assets/v748-toon-106.jpg");
  background-size: contain; }

.conversation-header,
.group-header {
  position: sticky;
  top: 0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  background-color: #ededed;
  text-decoration: none;
  color: #000000;
  font-weight: 700; }

.message-input {
  position: sticky;
  width: 100%;
  background-color: #ededed00;
  bottom: 10vh;
  z-index: 4; }
  .message-input .error-container {
    position: absolute;
    top: -24px;
    right: 24px;
    background-color: #ff0000;
    border-radius: 8px;
    padding: 4px;
    color: #ffffff; }
  .message-input #input_form {
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;
    justify-content: space-between; }
    .message-input #input_form input[type='text'], .message-input #input_form textarea {
      padding: 8px;
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #ffffff;
      font-size: 1rem;
      resize: none; }
    .message-input #input_form input[type='file'] {
      display: none; }
    .message-input #input_form .file-upload_button {
      background-color: #ffffff;
      height: 38px;
      min-width: 38px;
      border-radius: 8px;
      padding: 8px; }
      .message-input #input_form .file-upload_button img {
        width: 100%;
        height: 100%; }
    .message-input #input_form button {
      min-height: 48px;
      min-width: 48px;
      border-radius: 50%;
      border: none;
      background-color: #ffffff; }

.conversation-list,
.groups-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px; }

.conversation-overview_link,
.group-overview_link {
  text-decoration: none;
  color: #222222; }

.conversation-overview,
.group-overview {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: 100%; }

.conversation-overview_content,
.group-overview_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px; }
  .conversation-overview_content .last-message,
  .group-overview_content .last-message {
    font-size: 0.9rem;
    color: #707070; }

.conversation-overview_metadata,
.group-overview_metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px; }
  .conversation-overview_metadata .conversation_name,
  .conversation-overview_metadata .group_name,
  .group-overview_metadata .conversation_name,
  .group-overview_metadata .group_name {
    font-weight: 700; }
  .conversation-overview_metadata .last-update,
  .group-overview_metadata .last-update {
    font-size: 0.8rem;
    color: #707070; }

.messages-list {
  display: flex;
  flex-direction: column; }

.message-single {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem; }
  .message-single .message-single_author {
    font-weight: 700;
    color: #222222; }
  .message-single .message_timestamp {
    align-self: end;
    font-size: 0.7rem; }
  .message-single .message_file {
    width: 100%; }
    .message-single .message_file img {
      height: 200px;
      width: auto;
      border-radius: 4px; }

.group-message_other {
  display: flex;
  align-items: center;
  gap: 4px; }
  .group-message_other .message-single {
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1rem;
    background-color: #e5e5e5;
    max-width: 80%; }

.group-message_own {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem; }
  .group-message_own .message-single {
    padding: 0; }

.message_own,
.group-message_own {
  background-color: #ededed;
  align-self: end;
  align-items: end;
  max-width: 90%; }

.message_other {
  background-color: #e5e5e5;
  align-self: start;
  max-width: 90%; }

.user-profile,
.group-info {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; }
  .user-profile .user_name,
  .user-profile .group-name,
  .group-info .user_name,
  .group-info .group-name {
    font-size: 1.5rem;
    font-weight: 700; }
  .user-profile .user_status,
  .group-info .user_status {
    font-style: italic; }
  .user-profile .admin,
  .group-info .admin {
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: #222222; }

.group-info_section {
  font-weight: 700; }

.group_users-list {
  align-self: start;
  display: flex;
  flex-direction: column; }

.group_user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  text-decoration: none;
  color: #222222; }

.group_media-section {
  align-self: start;
  margin-top: 8px; }

.group_media-list {
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 90vw; }
  .group_media-list div {
    display: inline;
    margin: 0 2px; }

.contacts-page {
  padding-top: 16px; }
  .contacts-page .add-contact_link {
    align-self: center; }
    .contacts-page .add-contact_link button {
      padding: 8px;
      border-radius: 4px;
      border: none;
      margin-bottom: 8px; }
  .contacts-page .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .contacts-page .contacts-list .contacts-length {
      align-self: center;
      color: #777777; }
    .contacts-page .contacts-list .contact-single {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: #222222; }

.conversation-button {
  text-decoration: none; }
  .conversation-button button {
    padding: 12px;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px; }
  .conversation-button img {
    height: 24px; }

.add-contact_page {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; }
  .add-contact_page form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%; }
  .add-contact_page .input-group {
    display: flex;
    align-items: center;
    gap: 8px; }
  .add-contact_page input[type="text"] {
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #777777;
    font-size: 1rem; }
  .add-contact_page button {
    padding: 8px; }
  .add-contact_page .error-container {
    text-align: center;
    color: #ff0000; }

.group-create-page {
  padding-top: 16px; }
  .group-create-page #group-create_form {
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .group-create-page #group-create_form .users-options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px; }
      .group-create-page #group-create_form .users-options label {
        flex-shrink: 0; }
      .group-create-page #group-create_form .users-options select {
        font-size: 1rem;
        padding: 4px;
        width: 100%; }
      .group-create-page #group-create_form .users-options input[type="button"] {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 5vh;
        flex-shrink: 0; }
  .group-create-page .group-info_form {
    display: flex;
    align-items: center;
    gap: 8px; }
    .group-create-page .group-info_form input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 4px;
      font-size: 1rem;
      border-radius: 4px; }
  .group-create-page .image-upload_button {
    background-color: #efefef;
    height: 46px;
    min-width: 46px;
    border-radius: 50%;
    padding: 10px; }
    .group-create-page .image-upload_button img {
      width: 100%;
      height: 100%; }
  .group-create-page .users-list {
    margin: 16px 0;
    display: flex;
    flex-direction: column; }
    .group-create-page .users-list .user-info {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px; }
      .group-create-page .users-list .user-info:first-child {
        background-color: #efefef;
        border-radius: 4px; }
      .group-create-page .users-list .user-info button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 5vh; }
  .group-create-page .submit-button_container {
    display: flex;
    justify-content: center; }
    .group-create-page .submit-button_container button {
      font-size: 1rem;
      width: 100%;
      padding: 8px;
      border-radius: 4px; }

.settings-page {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px; }
  .settings-page .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .settings-page .user-info .user_name {
      font-size: 1.5rem;
      font-weight: 700; }
    .settings-page .user-info .user_status {
      font-style: italic; }
  .settings-page .actions {
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .settings-page .actions button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 8px;
      border-radius: 4px;
      font-size: 1rem;
      height: 40px; }
      .settings-page .actions button:last-child {
        font-weight: 700; }
      .settings-page .actions button img {
        max-height: 100%;
        max-width: 100%; }

/*# sourceMappingURL=App.css.map */
