@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  height: 100vh;
  background-color: #fcfcfc;

}

header {
  //position: fixed;
  //top: 0;
  background-color: #222222;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  .logo_main {
    width: 200px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .user-container {
    display: flex;
    color: #efefef;
  }

  @media (max-width: 480px) {
    .header_expanded {
      display: none;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  
  a {
    width: 100%;
  }

  .active {
    background-color: #444444;
    font-weight: 700;
  }

  .footer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 4px;
    color: #efefef;
    height: 100%;
    font-size: 0.9rem;
    //font-weight: 700;
    border-radius: 8px;
    width: 100%;

    .footer-icon {
      height: 40%;

      img {
        height: 100%;
      }
    }
  }
}

.avatar_thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar_big {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

main {
  //padding: 0 16px;
  min-height: 100%;
  margin: 0;
}

.content {
  padding: 0 16px 64px 16px;
  min-height: 80vh;

  .content-end {
    margin-top: 88px;
  }
}

// CONVERSATIONS
.conversation-page {
  background: url('./assets/v748-toon-106.jpg');
  background-size: contain;
}

.conversation-header {
  position: sticky;
  top: 0;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  background-color: #ededed;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.message-input {
  position: sticky;
  width: 100%;
  background-color: #ededed00;
  bottom: 64px;
  z-index: 4;

  #input_form {
    display: flex;
    gap: 8px;
    padding: 8px;
    align-items: center;

    input[type='text'], textarea {
      padding: 8px;
      width: 100%;
      border-radius: 8px;
      border: none;
      background-color: #ffffff;
      font-size: 1rem;
    }

    input[type='file'] {
      display: none;
    }

    .file-upload_button {
      background-color: #ffffff;
      min-height: 24px;
      min-width: 24px;
      background: url('./assets/icons/file_upload.png');
      background-size: contain;
    }

    button {
      min-height: 48px;
      min-width: 48px;
      border-radius: 50%;
      border: none;
      background-color: #ffffff;
    }
  }
}

.messages-list {
  display:flex;
  flex-direction: column;
}

.message-overview {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0;
}

.message-single {
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1rem;

  .message_timestamp {
    align-self: end;
    font-size: 0.7rem;
  }
}

.message_own {
  background-color: #ededed;
  align-self: end;
  align-items: end;
  max-width: 90%;
}

.message_other {
  background-color: #f5f5f5;
  align-self: start;
  max-width: 90%;
}

// User profile
.user-profile {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .user_name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .user_status {
    font-style: italic;
  }
}