extends layout

block content
  h1 Sign up
  hr
  div
    form(action="/user/signup" method="POST" enctype="multipart/form-data")
      div
        label(for="name") Name
        input(type="text" id="name" placeholder="Name" value="" name="name" required)
      div
        label(for="password") Password
        input(id="password" name="password" placeholder="Password" required)
      div 
        label(for="status") Status 
        input(id="status" name="status" placeholder="status")
      div
        label(for="avatar") 
        input(type="file" id="avatar" name="avatar" value="" required)
      div
        button(type="submit") Submit
  hr