extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src="https://storage.googleapis.com/download/storage/v1/b/textera-e04fe.appspot.com/o/test?generation=1697569768450447&alt=media")